[submodule "gradle-marytts-voicebuilding-plugin"]
	path = gradle-marytts-voicebuilding-plugin
	url = https://github.com/marytts/gradle-marytts-voicebuilding-plugin.git
[submodule "marytts-lang-dsb"]
	path = marytts-lang-dsb
	url = https://github.com/marytts/marytts-lang-dsb
