[submodule "gradle-marytts-voicebuilding-plugin"]
	path = gradle-marytts-voicebuilding-plugin
	url = https://github.com/marytts/gradle-marytts-voicebuilding-plugin.git
[submodule "gradle-marytts-component-plugin"]
	path = gradle-marytts-component-plugin
	url = https://github.com/marytts/gradle-marytts-component-plugin.git
[submodule "serbski-institut-dsb-data"]
	path = serbski-institut-dsb-data
	url = https://github.com/psibre/serbski-institut-dsb-data.git
